Data/Service References/ReshService/RESH5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://register.nhn.no/Common" elementFormDefault="qualified" targetNamespace="http://register.nhn.no/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://ws-web.test.nhn.no/v1/RESH?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfElectronicAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ElectronicAddress" nillable="true" type="tns:ElectronicAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfElectronicAddress" nillable="true" type="tns:ArrayOfElectronicAddress" />
  <xs:complexType name="ElectronicAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Inherited" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastChanged" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="tns:Code" />
      <xs:element minOccurs="0" name="TypeCodeValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ElectronicAddress" nillable="true" type="tns:ElectronicAddress" />
  <xs:complexType name="Code">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="CodeText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OID" type="xs:int" />
      <xs:element minOccurs="0" name="SimpleType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Code" nillable="true" type="tns:Code" />
  <xs:complexType name="ArrayOfPhysicalAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhysicalAddress" nillable="true" type="tns:PhysicalAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhysicalAddress" nillable="true" type="tns:ArrayOfPhysicalAddress" />
  <xs:complexType name="PhysicalAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="tns:Code" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Inherited" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastChanged" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PostalCode" type="xs:int" />
      <xs:element minOccurs="0" name="Postbox" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="tns:Code" />
      <xs:element minOccurs="0" name="TypeCodeValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhysicalAddress" nillable="true" type="tns:PhysicalAddress" />
  <xs:complexType name="ArrayOfCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Code" nillable="true" type="tns:Code" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCode" nillable="true" type="tns:ArrayOfCode" />
  <xs:complexType name="Period">
    <xs:sequence>
      <xs:element minOccurs="0" name="From" type="xs:dateTime" />
      <xs:element minOccurs="0" name="To" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Period" nillable="true" type="tns:Period" />
  <xs:complexType name="GenericFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericFault" nillable="true" type="tns:GenericFault" />
  <xs:complexType name="ValidationFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Errors" nillable="true" type="tns:ArrayOfValidationError" />
      <xs:element minOccurs="0" name="HasErrors" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationFault" nillable="true" type="tns:ValidationFault" />
  <xs:complexType name="ArrayOfValidationError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValidationError" nillable="true" type="tns:ValidationError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValidationError" nillable="true" type="tns:ArrayOfValidationError" />
  <xs:complexType name="ValidationError">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationError" nillable="true" type="tns:ValidationError" />
  <xs:complexType name="LatitudeLongitude">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LatitudeLongitude" nillable="true" type="tns:LatitudeLongitude" />
  <xs:complexType name="OpeningHours">
    <xs:sequence>
      <xs:element minOccurs="0" name="FreeText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpenAt" nillable="true" type="tns:ArrayOfTimePeriod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OpeningHours" nillable="true" type="tns:OpeningHours" />
  <xs:complexType name="ArrayOfTimePeriod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimePeriod" type="tns:TimePeriod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimePeriod" nillable="true" type="tns:ArrayOfTimePeriod" />
  <xs:complexType name="TimePeriod">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="From" type="ser:duration" />
      <xs:element minOccurs="0" name="To" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimePeriod" nillable="true" type="tns:TimePeriod" />
  <xs:complexType name="CompositeCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CodeText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codes" nillable="true" type="tns:ArrayOfCode" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompositeCodeGroupLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompositeCodeGroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompositeCodeGroupOID" type="xs:int" />
      <xs:element minOccurs="0" name="CompositeCodeGroupVersion" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReplacedCodes" nillable="true" type="tns:ArrayOfCompositeCode" />
      <xs:element minOccurs="0" name="ReplacingCodes" nillable="true" type="tns:ArrayOfCompositeCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeCode" nillable="true" type="tns:CompositeCode" />
  <xs:complexType name="ArrayOfCompositeCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompositeCode" nillable="true" type="tns:CompositeCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompositeCode" nillable="true" type="tns:ArrayOfCompositeCode" />
  <xs:complexType name="ArrayOfEntityLogEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityLogEntry" nillable="true" type="tns:EntityLogEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntityLogEntry" nillable="true" type="tns:ArrayOfEntityLogEntry" />
  <xs:complexType name="EntityLogEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="ByUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Changes" nillable="true" type="tns:ArrayOfEntityLogEntryData" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityLogEntry" nillable="true" type="tns:EntityLogEntry" />
  <xs:complexType name="ArrayOfEntityLogEntryData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityLogEntryData" nillable="true" type="tns:EntityLogEntryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntityLogEntryData" nillable="true" type="tns:ArrayOfEntityLogEntryData" />
  <xs:complexType name="EntityLogEntryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OldValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityLogEntryData" nillable="true" type="tns:EntityLogEntryData" />
</xs:schema>