Data/Service References/ReshService/RESH8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.nhn.no/reg/HTKv1/en" elementFormDefault="qualified" targetNamespace="http://schemas.nhn.no/reg/HTKv1/en" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://ws-web.test.nhn.no/v1/RESH?xsd=xsd3" namespace="http://register.nhn.no/Common" />
  <xs:complexType name="Treatment">
    <xs:sequence>
      <xs:element xmlns:q1="http://register.nhn.no/Common" minOccurs="0" name="AvailableInDomains" nillable="true" type="q1:ArrayOfCompositeCode" />
      <xs:element minOccurs="0" name="AvailableTreatmentLevels" nillable="true" type="tns:ArrayOfTreatmentLevelWithDisplayName" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://register.nhn.no/Common" minOccurs="0" name="Drg" nillable="true" type="q2:CompositeCode" />
      <xs:element xmlns:q3="http://register.nhn.no/Common" minOccurs="0" name="Icd10" nillable="true" type="q3:CompositeCode" />
      <xs:element xmlns:q4="http://register.nhn.no/Common" minOccurs="0" name="Icpc2" nillable="true" type="q4:CompositeCode" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q5="http://register.nhn.no/Common" minOccurs="0" name="Mesh" nillable="true" type="q5:CompositeCode" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://register.nhn.no/Common" minOccurs="0" name="NcspNcmp" nillable="true" type="q6:CompositeCode" />
      <xs:element xmlns:q7="http://register.nhn.no/Common" minOccurs="0" name="Properties" nillable="true" type="q7:ArrayOfCompositeCode" />
      <xs:element xmlns:q8="http://register.nhn.no/Common" minOccurs="0" name="Type" nillable="true" type="q8:CompositeCode" />
      <xs:element xmlns:q9="http://register.nhn.no/Common" minOccurs="0" name="Valid" nillable="true" type="q9:Period" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Treatment" nillable="true" type="tns:Treatment" />
  <xs:complexType name="ArrayOfTreatmentLevelWithDisplayName">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TreatmentLevelWithDisplayName" nillable="true" type="tns:TreatmentLevelWithDisplayName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTreatmentLevelWithDisplayName" nillable="true" type="tns:ArrayOfTreatmentLevelWithDisplayName" />
  <xs:complexType name="TreatmentLevelWithDisplayName">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element xmlns:q10="http://register.nhn.no/Common" minOccurs="0" name="TreatmentLevel" nillable="true" type="q10:CompositeCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TreatmentLevelWithDisplayName" nillable="true" type="tns:TreatmentLevelWithDisplayName" />
</xs:schema>