Data/Service References/ReshService/RESH2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://register.nhn.no/RESH" elementFormDefault="qualified" targetNamespace="http://register.nhn.no/RESH" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://ws-web.test.nhn.no/v1/RESH?xsd=xsd3" namespace="http://register.nhn.no/Common" />
  <xs:complexType name="ArrayOfParentLink">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParentLink" nillable="true" type="tns:ParentLink" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParentLink" nillable="true" type="tns:ArrayOfParentLink" />
  <xs:complexType name="ParentLink">
    <xs:sequence>
      <xs:element minOccurs="0" name="ParentReshId" type="xs:int" />
      <xs:element xmlns:q1="http://register.nhn.no/Common" minOccurs="0" name="Period" nillable="true" type="q1:Period" />
      <xs:element minOccurs="0" name="ReshId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParentLink" nillable="true" type="tns:ParentLink" />
</xs:schema>